.App {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #28afb0;
}

/* Calc */

.Calc {
  display: grid;

  /* width: 300px; */
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.span-1,
.span-2 {
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid #1f271b;
  outline: none;
  background-color: #f4d35e;
}

.span-2 {
  grid-column: span 2;
}

.display {
  grid-column: 1/ -1;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  background: #1f271b;
  color: #f4d35e;
  font-weight: bold;
  font-size: 22px;
}
.display .curr {
  font-size: 30px;
}
